<h1><%= @topic.name %></h1>

<% if policy(@topic).update? %>
	<%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
<% end %>

<div class="row">
	<div class="col-md-8">
		<p class="lead"><%= @topic.description %></p>
		<% @posts.each do |post| %>
			<div class="media">
				<div class="media-body">
					<h4 class="media-heading">
						<%= link_to (markdown post.title), [@topic, post] %>
					</h4>
					<small>
						submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %><br />
						<%= post.comments.count %> Comments
					</small>
				</div>
			</div>
		<% end %>
	</div>

	<div class="col-md-4">
		<% if policy(Post.new).create? %>
			<%= link_to "New Post", new_topic_post_path(@topic, @post), class: 'btn btn-success' %>
		<% end %>
	</div>
</div>