<div class="container">
	<h1><%= @topic.name %></h1>

	<% if policy(@topic).update? %>
		<%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
	<% end %>

	<div class="row">
		<div class="col-md-8">
			<p class="lead"><%= @topic.description %></p>
			<%= render @posts %>
			<%= will_paginate @posts %>
		</div>

		<div class="col-md-4">
			<% if policy(Post.new).create? %>
				<%= link_to "New Post", new_topic_post_path(@topic, @post), class: 'btn btn-success' %>
			<% end %>

			<% if policy(@topic).destroy? %>
				<%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', confirm: "Are you sure you want to delete this topic?" %>
			<% end %>
		</div>
	</div>
</div>