<div class="container" id="body">
	<div class="row">
		<div class="col-md-8">
			<div class="media">
				<% if @user.avatar? %>
					<%= image_tag @user.avatar.url, class: 'pull-left' %>
				<% end %>

				<div class="media-body">
					<h2 class="media-heading"><%= @user.name %></h2>
					<% if current_user %>
						<!-- Edit Account --> 
						<%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
							<span class="glyphicon glyphicon-user"></span> Edit Account
						<% end %>

						<!-- Log Out --> 
						<%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
							<span class="glyphicon glyphicon-log-out"></span> Log Out
						<% end %>
					<% end %>
					<hr>
					<small>
						<%= pluralize(@user.posts.count, 'post') %> |
						<%= pluralize(@user.comments.count, 'comment') %> |
						Member for <%= time_ago_in_words(@user.confirmed_at) %> 
					</small>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#posts" data-toggle="tab">Saved Tutorials</a>
				</li>
				<li>
					<a href="#comments" data-toggle="tab">Comments</a>
				</li>
				<li>
					<a href="#saved" data-toggle="tab">Tutorials</a>
				</li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="posts">
					<% @user.favorites.each do |fav| %>
						<p>
							<%= link_to fav.post.title, topic_post_path(fav.post.topic_id, fav.post) %>
						</p>
					<% end %>
				</div>
				<div class="tab-pane" id="comments">
					Comments: 
					<%= render @comments %>
				</div>
				<div class="tab-pane" id="saved">
					<%= render @posts %>
				</div>
			</div>
		</div>
	</div>
</div>