<div class="media">
	<%= render partial: 'votes/voter', locals: { topic: post.topic, post: post } %>
	<%= link_to [post.topic, post], class: 'pull-left' do %>
		<%= image_tag(post.image.thumb.url) if post.image? %>
	<% end %>

	<div class="media-body">
		<h4 class="media-heading">
			<%= link_to (markdown post.title), [post.topic, post] %>
		</h4>
		<p>
			<%= post.description %>
		</p>
		<small>
			<%= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %> submitted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to post.user.name, post.user %>
			<%= post.comments.count %> Comments, <%= post.votes.count %> Likes
		</small>
	</div>
</div>