<!DOCTYPE html>
<html>
	<head>
	  <title>Bloccit</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>

		<% if current_page?(root_path) %>
			<%= render partial: 'layouts/home_landing' %>
		<% else %>
			<%= render partial: 'layouts/nav' %>
		<% end %> 

		<!-- Page Content --> 

		<%= yield %>

		<%= render partial: 'layouts/footer' %>

		<div class="container">
			<%# debug(params) if Rails.env.development? %>
		</div>
		
	</body>
</html>
